.listitem{
    display: flex;
    background-color: white;
    font-weight: 800;
    cursor: pointer;
    
    
}
.mainlist{
    margin-top: 10px;
}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.image{
    margin-top: 40px;
    width: 200px;
    height: 300px;
    border-radius: 7px;
}
.header h2{
    font-size: 30px;
    font-weight: 800;
    font-weight: bolder;
    color: blanchedalmond;
}
.hdng{
    font-weight: bolder;
    color: rgb(8, 7, 1);
    text-align: center;
}